<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="freeringtones.newringtones.dowloadringtones.iphoneringtone2222">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.optionringringtone.newringtonefree.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.optionringringtone.newringtonefree.SplashActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.optionringringtone.newringtonefree.MyDownloadActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.optionringringtone.newringtonefree.Untils.MyFirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icons8_notification_64" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name="com.optionringringtone.newringtonefree.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.optionringringtone.newringtonefree.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.optionringringtone.newringtonefree.RequestRingtoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.optionringringtone.newringtonefree.DetailActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id_ads" />

        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_setting"
            android:label=""
            android:noHistory="true" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_setting"
            android:label=""
            android:noHistory="true" />

        <receiver android:name="com.optionringringtone.newringtonefree.mysetting.myReceiver.ScreenReceiver"></receiver>

        <receiver android:name="com.optionringringtone.newringtonefree.mysetting.myReceiver.My2Receiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"></action>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"></action>
            </intent-filter>

        </receiver>

        <receiver
            android:name="com.optionringringtone.newringtonefree.mysetting.myReceiver.RestartReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.optionringringtone.newringtonefree.mysetting.HomeActivity2"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:icon="@mipmap/ic_setting"
            android:label=""
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <service
            android:name="com.optionringringtone.newringtonefree.mysetting.HomeServicePlayRing2"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"></service>
    </application>


</manifest>